{{>layout/header}}

    <h1>스프링 부트로 시작하는 웹 서비스 2.0</h1>
    <div class="col-md-12">
        <!--로그인 기능 영역 -->
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                {{#userName}}
                    Logged in as: <span id="user">{{userName}}</span>
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                {{/userName}}
                {{^userName}}
                    <a href="/oauth2/authorization/google"
                       class="btn btn-success active" role="button">Google Login</a>
                    <a href="/oauth2/authorization/naver"
                       class="btn btn-secondary active" role="button">Naver Login</a>
                {{/userName}}
            </div>
        </div>

        <br>
        <!-- 목록 출력 영역 -->
        <table class = "table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
        <div>
            <div>
                <p>이 게시판은 '스프링 부트와 AWS로 혼자 구현하는 웹 서비스를 보고 만들었습니다.</p>
                <a href="https://github.com/kchung1995/springboot-web-practise">GitHub Link</a>
                <a href="https://katfun.tistory.com">블로그 Link</a>
                <p>Nginx의 리버스 프록시 기능을 이용하여 끊김 없이 배포되고 있습니다.</p>
            </div>
        </div>


    </div>

{{>layout/footer}}
